.content_wrapper{
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
}

.titles{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.text_container{
   width: 60%;
}
.title{
   font-weight: bold;
   text-align: center;
}

.quantity_container{
   width: 30%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.data_item{
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.text_item{
   width: 60%;
}
.quantity_result{
   display: flex;
   width: 20%;
   justify-content: space-between;
   margin-right: 60px
}
.quantity_result_item{
   display: flex;
   align-items: center;
}

.nodata{
  position: absolute;
   top: 50%;
   width: 50%;
  font-size: 40px;
}


@media(max-width:970px){
   .text_container{
      width: 50%;
   }
   .title{
      font-weight: bold;
      text-align: center;
      font-size: 10px;
   }
   .text_item{
      width: 60%;
      font-size: 12px;
   }
   .quantity_container{
      width: 40%;
   }
   .quantity_result{
      width: 30%;
      margin-right: 10px
   }
   .quantity_result_item{
      font-size: 12px;
   }
   .nodata{
      font-size: 30px;
    }

}

@media(max-width:420px){
   .title{
      font-weight: bold;
      text-align: center;
      font-size: 10px;
   }
   .text_item{
      width: 50%;
      font-size: 10px;
   }
   .quantity_result_item{
      font-size: 10px;
      margin-right: 20px;
   }
   .nodata{
      font-size: 20px;
    }

}
@media(max-width:340px){
   .quantity_container{
      width: 44%;
   }
}

