.search_wrapper{
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 70%;
   justify-content: space-between;
}
.input_search{
   width: 70%;
}

.wrong_input{
   border: 1px solid red;
   width: 70%;
}
